/* Custom CSS for Home and Login components */
label {
  display: block;
  margin-top: 10px;
}

.card-container.card {
  max-width: 350px !important;
  padding: 40px 40px;
  background-color: linear-gradient(135deg, #7c7c7c, #e5e5e5);
  border-radius: 15px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2); /* Increased box shadow */
}

.card {
  background-color: #ffffff;
  padding: 20px 25px 30px;
  margin: 50px auto;
  border-radius: 10px;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.1); /* Increased box shadow */
}

.profile-img-card {
  width: 96px;
  height: 96px;
  margin: 0 auto 10px;
  border-radius: 50%;
}
.dropdown-menu {
  background-image: linear-gradient(180deg, #87ceeb, #00bfff); /* Sky blue gradient background */
  border: 1px solid #ced4da;
  padding: 0.5rem 0;
  border-radius: 0.25rem;
}

.container {
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 60px; /* Adjust top margin as needed */
}

.adminboard {
  background-image: url("https://th.bing.com/th/id/OIP.gmlpkGYlMhT0DEJw0PgNvQAAAA?rs=1&pid=ImgDetMain");
  border-radius: 5px;
  padding: 20px;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  width: 300px; /* Adjust width as needed */
}

.admin {
  text-align: center;
  margin-bottom: 20px;
}

.dropdown {
  position: relative;
  margin-bottom: 20px;
  text-align: center;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  /* float: left; */
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #829197;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
  text-align: center;
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 8px 12px;
  clear: both;
  font-weight: 400;
  color: #050505;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.dropdown-item:hover {
  color: #7daade;
  background-color: #007bff;
}

.dropdown-menu a {
  color: #343a40; /* Text color */
}

.dropdown-menu a:hover {
  background-color: white; /* Background color on hover */
}
.bg-gradient-primary {
  background-image: linear-gradient(180deg, #87ceeb, #00bfff); /* Sky blue gradient */
}
.btn-primary {
  background-image: linear-gradient(180deg, #87ceeb, #00bfff); /* Sky blue gradient */
  border: none; /* Remove border */
}

.btn-primary:hover {
  background-color: #1e90ff; /* Darker shade of blue on hover */
}
.container-manager{
  display: flex;
  justify-content: center;
  align-items: flex-start;
  height: 100vh;
  margin-top: 60px; /* Adjust top margin as needed */
}
.managerboard {
  background-image: url("https://th.bing.com/th/id/OIP.gmlpkGYlMhT0DEJw0PgNvQAAAA?rs=1&pid=ImgDetMain");
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  margin-top: 50px; /* Adjust top margin as needed */
}

.dropdown-box {
  width: 300px; /* Adjust width as needed */
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #007bff;
}

.products{
  text-align: center;
}
.userboard {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  background-image: url("https://th.bing.com/th/id/OIP.gmlpkGYlMhT0DEJw0PgNvQAAAA?rs=1&pid=ImgDetMain");
  margin-top: 50px; /* Adjust top margin as needed */
}

.dropdown-box {
  width: 300px; /* Adjust width as needed */
  text-align: center;
}

.dropdown {
  position: relative;
  display: inline-block;
}

.dropdown-menu {
  position: absolute;
  top: 100%;
  left: 0;
  z-index: 1000;
  display: none;
  float: left;
  min-width: 160px;
  padding: 5px 0;
  margin: 2px 0 0;
  font-size: 14px;
  text-align: left;
  list-style: none;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  box-shadow: 0 6px 12px rgba(0, 0, 0, 0.175);
}

.dropdown-menu.show {
  display: block;
}

.dropdown-item {
  display: block;
  width: 100%;
  padding: 3px 1.5rem;
  clear: both;
  font-weight: 400;
  color: #212529;
  text-align: inherit;
  white-space: nowrap;
  background-color: transparent;
  border: 0;
}

.dropdown-item:hover {
  color: #fff;
  background-color: #007bff;
}

.products {
  text-align: center;
}
